@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font.css";

.zoomContainer {
    overflow: hidden;
}

.zoomImage {
    transition: transform 0.5s ease;
}

.zoomImage:hover {
    transform: scale(1.2); /* Zoom out to 80% of the original size */
}